body {
    padding: 40px;
    margin: 40px;
    background-color: lavender;
}

a {
    color: black;
}

a:hover {
    background-color: purple;
    color: white;
    text-decoration: underline;
    padding: 3px;
}

h1 {
    border-bottom: 2px solid black;
}

h1, h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    padding: 10px;
}

footer {
    margin: auto;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: rgb(187, 187, 207);
}


