body {
    padding: 40px;
    margin: 40px;
    background-color: lavender;
}

a {
    color: black;
}

a:hover {
    color: purple;
    text-decoration: underline;
}

a:visited {
    color: purple;
}

h1 {
    border-bottom: 2px solid black;
}

h1, h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    padding: 10px;
}


