@font-face {
    font-family: myFirstFont;
    src: url(https://www.dafont.com/harry-p.font)
}

h1 {
    font-family: harry p, decorative, serif;
    color: #222F5B;
    font-size: 70px;
    margin: auto;
    padding-top: 60px;
    text-shadow: 2px 2px 6px white;
}

h2,
h3,
h4,
h5,
h6,
p {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-shadow: 2px 2px 6px #222F5B;
}

h3 {
    color: #222F5B;
    padding: 30px 20px;
    margin: 0px;
    margin-bottom: 30px;
    background-color: rgb(255 255 255 / 0.5);
    
}

body {
    background-color: rgb(228, 228, 228);
}

main {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    margin: 0px 80px;
}

header {
    width: 100%;
    height: 400px;
    grid-column: 1;
    text-align: center;
    background-image: url('https://images.pexels.com/photos/507410/pexels-photo-507410.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    color: white;
    padding: 25px;
    margin-bottom: 60px;
    background-size: 100%;
}

header h1,h2 {
   background-color: rgb(255 255 255 / 0.5);
    margin: 0px;
    
}

header h1 {
    position: absolute;
    width: 100%;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
    padding: 40px;
}

header h2 {
    position: absolute;
    width: 100%;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
    padding: 10px;
    margin-top: 25px;
}
      
.housesOptions {
    grid-column: 1;
    background-color: #222F5B;
    color: white;
    padding-right: 20px;
    grid-row: 3;
}

a {
    text-decoration: none;
    padding: 10px;
    color: white;
}

a:visited {
    color: #EEBA30;
}

a:hover {
    color: white;
    background-color: #3a4363;
}

.sidebar {
    grid-column: 1;
    grid-row: 1;
    background-color: #222F5B;
    padding: 10px;
    margin-bottom: 20px;
    max-height: 400px;
}

.sidebar li {
    list-style-type: none;
    padding-bottom: 20px;
}

.intro {
    text-shadow: 2px 2px 6px white;
    background-color: rgb(255 255 255 / 0.5);
    margin-left: 60px;
    margin-bottom: 20px; 
}

.intro h3 {
    color: #222F5B;
}

.intro p {
    width: 80%;
    margin: auto;
    color: #222F5B;
    padding: 10px;
}

.createWizard h3 {
    color: rgb(116,0,1);
}

.createWizard {
    grid-column: 2;
    color: rgb(116,0,1);
    margin-bottom: 40px;
    padding-bottom: 30px;
    margin-left: 60px;
    background-color: rgb(255 255 255 / 0.5);
}

form {
    margin-left: 60px;
}

.createWizard ul li {
    list-style-type: none;
    margin: 5px;
}

.quizSection {
    grid-column: 2;
    color: #1A472A;
    margin-bottom: 40px;
    padding-bottom: 30px;
    margin-left: 60px;
    background-color: rgb(255 255 255 / 0.5);
}

.quizSection h3 {
color: #1A472A
}

.quizSection p {
    margin: 40px; 
}

.quizSection table, h5{
    margin-left: 40px;
    max-width: 85%;
    
}

#sortingHat {
    font-style: italic;
}

input[type=submit] {
    width: 30%;
    background-color: #740001;
    color: white;
    padding: 14px 20px;
    margin: 8px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #740001;
}

#sortingResults p{
    padding: 30px;
    width: 50%;
    text-align: center;
}

.funFacts {
    grid-column: 2;
    margin-bottom: 40px;
    padding-bottom: 30px;
    margin-left: 60px;
    background-color: rgb(255 255 255 / 0.5);
      width: 92%;
  height: 200px;
  overflow: auto;
}

.funFacts table {
   padding: 10px; 
}

.funFacts div {
    margin: auto;
    text-align: center;
}

.funFacts th {
    color: #EEBA30;
    text-align: left;
    border-bottom: 3px solid black;
}

.funFacts td {
    border-bottom: 1px solid black;
    padding-right: 20px;
}

.galleryImg {
    grid-column-start: 2;
    grid-column-end: 4;
    margin-bottom: 40px;
    padding-bottom: 30px;
    margin-left: 60px;
    background-color: rgb(255 255 255 / 0.5);
}

div.gallery {
    margin: 10px;
    border: 2px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 90%;
    height: auto;
    padding-top: 10px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

div.gallery a:hover {
    background-color: transparent;
}

footer {
    background-color: #222F5B;
    color: #AAAAAA;
    padding: 20px;
    text-align: center;
    width: 100%;
}

