@font-face {
    font-family: myFirstFont;
    src: url(https://www.dafont.com/harry-p.font)
}

h1 {
    font-family: harry p, decorative, serif;
    color: #EEBA30;
    font-size: 70px;
    margin: auto;
    padding-top: 60px;
    text-shadow: 2px 2px 6px #AE0001;
}

h2, h3, h4, h5, h6, p {
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    text-shadow: 2px 2px 6px #AE0001;    
}

h3 {
    color: white;
}

body{
      background-color: rgb(228, 228, 228);  
    
}

main {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    margin: 0px 80px;
}

header {
    width: 100%;
    height: 300px;
    grid-column: 1;
    text-align: center;
    background-image: url('https://images.pexels.com/photos/507410/pexels-photo-507410.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    color: white; 
  padding: 25px;
  background-size: 100%;
}


.housesOptions {
    grid-column: 1;
    grid-row: 2;
    background-color: #222F5B;
    color: white;
    padding: 20px;
    margin-top: 10px;
}

a {
text-decoration: none;
    padding: 10px;
   color: white;
}

a:visited {
    color: #EEBA30;
}

a:hover {
    color: white;
   background-color: #3a4363; 
}

.sidebar {
    background-color: #222F5B;
    padding: 10px;
    margin: 20px 5px;
}

.sidebar li {
    list-style-type: none;
    padding-bottom: 20px;
}

.createWizard{
   grid-column: 2;
    color: #222F5B;
    margin: auto;
     padding: 10px 0px 60px 60px;
    width: 100%;
}

.createWizard h3 {
    background-color: #1A472A;
    padding: 20px;
}

.createWizard ul li {
    list-style-type: none;
    margin: 5px;
}

.quizSection {
  margin: auto;
grid-column: 2;
        color: #1A472A;
    padding-left: 60px;
}

.quizSection h3 {
    background-color: #740001;
    padding: 20px;
}

#sortingHat {
    font-style: italic;
}

  input[type=submit] {
    width: 100%;
    background-color: #740001;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #740001;
  }

#sortingResults {
    padding: 10px;
}

.funFacts {
   grid-column: 2; 
    padding-left: 60px;
}

.funFacts h3 {
    background-color: #FFDB00;
    padding: 20px; 
}

.galleryImg {
   grid-column-start: 2;
    grid-column-end: 4;
    padding-left: 60px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25% 
}

.galleryImg h3 {
    background-color: #222F5B;
    padding: 20px; 
    grid-column-start: 1;
    grid-column-end: 5;
}

div.gallery {
  margin: 5px;
  border: 2px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 90%;
  height: auto;
  padding-top: 10px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

div.gallery a:hover {
    background-color: transparent;
}

footer {
background-color: #222F5B;
    color: #AAAAAA; 
    padding: 20px;
    text-align: center;
    width: 100%;
}

@media only screen and (max-width: 600px ) {
    main {
    grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }    
    
    .sidebar {
      grid-column-start: 1; 
      grid-column-end: 2;
  }
    
    .createWizard{
      grid-column-start: 1; 
        grid-row-start: 2;
        padding: 0px;
    }
    
    .housesOptions {
        grid-row-start: 3;
        
    }
    
  
    .quizSection {
        grid-column-start: 1; 
        grid-row-start: 4;
        padding: 0px;
    }
    
    .funFacts{
    grid-column-start: 1; 
        grid-row-start: 5;
        padding: 0px;    
    }
    
    .galleryImg {
      grid-template-columns: 1fr 1fr; 
        grid-column-start: 1; 
        grid-row-start: 6;
        padding: 0px;
  }
}

