body {
    padding: 40px;
    margin: auto;
    background-color: lavender;
        max-width: 500px;
}

a {
    color: black;
}

a:hover {
    background-color: purple;
    color: white;
    text-decoration: underline;
    padding: 3px;
}

h1, h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    padding: 10px;
}

p {
    font-size: 14px;
}

footer, header {
    margin: auto;
    padding: 10px;
    color: navy;
    text-align: center;
    background-color: rgb(187, 187, 207);
}


