body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  img {
    max-width: 100%;
  }
  h1{
    background-color: lightgrey;
    width: 100%;
    text-align: center;
    padding: 20px;
    border: solid 1px black;
    margin: 1px;
  }
  .quakeStyles {
    display: grid;
    grid-template-columns: 1fr;
  
  }
  .quakeStyles li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
  }
  .quakeStyles h2{
    grid-row: 1/2;
    grid-column: 1/3;
    background-color: lightgrey;
    width: 100%;
    text-align: center;
    border: solid 1px black;
    margin-left: -40px;
  }
  .quakeStyles .image{
    grid-row: 2/3;
    grid-column: 1/2;
  }
